@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li class="dropdown">
                <a class="btn btn-danger dropdown-toggle --bs-primary" href="#" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    @User.Identity.GetUserName()
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="@Url.Action("Mine","Courses")">My Upcoming Courses</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Attending","Courses")">Course I'm Going</a></li>
                    <li><a class="dropdown-item" href="#">Lecture I'm Flowing</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>